---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/gatus/

patches:
  - target:
      kind: Deployment
      name: gatus
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/image
        value: ghcr.io/twin/gatus:v5.33.1@sha256:7121b5916c069eac6e266875d4984ec9262d84bd1274963939b358b32476d25b
