---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/prowlarr/

patches:
  - target:
      kind: Deployment
      name: prowlarr
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/image
        value: ghcr.io/linuxserver/prowlarr:2.3.0@sha256:475853535de3de8441b87c1457c30f2e695f4831228b12b6b7274e9da409d874
