---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../base/core/pihole/

patches:
  - target:
      kind: Deployment
      name: pihole
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/image
        value: docker.io/pihole/pihole:2025.11.0@sha256:e28e239f55e648a9d32c8f065650acfe987ddebf1cd5f64f1c071e8716156ceb
