---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/home-assistant/

patches:
  - target:
      kind: Deployment
      name: home-assistant
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/image
        value: ghcr.io/home-assistant/home-assistant:2025.11.1@sha256:c11dd7c74039223c43079d700aa559d6dc61e8e0b38a08d651f91d1bc550cff5
