---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/home-assistant/

patches:
  - target:
      kind: Deployment
      name: home-assistant
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/image
        value: ghcr.io/home-assistant/home-assistant:2025.12.2@sha256:60dd3a329324b92017b7c8665648d65a9568a5a4205e93cad67ab9dec432f2d1
