---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/git/

patches:
  - target:
      kind: Deployment
      name: git
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/image
        value: docker.io/gitea/gitea:1.25-rootless@sha256:4b50ceba06096cda9a7611c79449af8c20c168d0554e8545200599434864d257
