---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/orca-slicer/

patches:
  - target:
      kind: Deployment
      name: orca-slicer
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/image
        value: ghcr.io/linuxserver/orcaslicer:2.3.1@sha256:57659ba02479424551096fec14e160145a1aa95fe5e37161a83975539f8d44d7