---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/orca-slicer/

patches:
  - target:
      kind: Deployment
      name: orca-slicer
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/image
        value: ghcr.io/linuxserver/orcaslicer:2.3.1@sha256:e422ef02bdac75174f46b8871601e09afc8fa2bc0840280549acdccfb312939a